.article_card {
  border: 1px solid black;
  list-style: none;
  background-color: #ededed;
  width: 400px;
  height: 400px;
  margin: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
}

.article_card {
  display: grid;
  grid-template-rows: 1fr, 2fr, 1fr, 1fr, 1fr, 1fr;
}

.readMore {
  font-style: italic;
  font-weight: bold;
}

.readMore:link {
  color: #ba1f31;
}

/* visited link */
.readMore:visited {
  color: #ba1f31;
}
