.navbtn {
  margin: 10px;
}

.nav {
  padding: 20px;
  background-color: #ededed;
  height: 50%;
}

.icon {
  height: 25px;
  width: 25px;
  margin: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.icon:hover {
  transform: scale(1.5);
  transition: all 0.2s ease-in-out;
}
