.navbtn {
  margin: 10px;
}

.nav {
  padding: 20px;
  background-color: #ededed;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 10px;
}

.icon:hover {
  border-bottom: solid 2px #ba1f31;
  border-spacing: 1px;
}
